profiles {
    process_medium_sge {
        process {
            executor = 'sge'
            queue = 'all.q'
            clusterOptions = '-pe smp 4 -S /bin/bash'
            cpus   = { 4 }              // fijo 4 cpus por tarea, sin escalar con reintentos
            memory = { 8.GB }           // 8 GB fijos
            time   = { 2.h }            // 2 horas fijas
            beforeScript = '''
                source /home/jenny.paola/miniconda3/etc/profile.d/conda.sh
                conda activate R2C
            '''.stripIndent()
            conda = false               // controlamos conda manualmente, por eso false aquí
            label = 'process_medium_sge'
        }
    }
}
