// Definición de variables globales accesibles como params.*
out_dir = '../results'
report_dir = 'report'
publish_dir_mode = 'symlink'
samples_csv = "$projectDir/../samples/samples.csv"

ref_genomeA = "/Storage/data1/jenny.paola/Ejercicio_RNAseq/references/GCF_000208745.1_Criollo_cocoa_genome_V2_genomic.fix.fna"
ref_genomeB = "/Storage/data1/jenny.paola/Ejercicio_RNAseq/references/GCA_002911725.1_ASM291172v1_genomic.fix.fna"
ref_transcriptomeA = "/Storage/data1/jenny.paola/Ejercicio_RNAseq/references/GCF_000208745.1_Criollo_cocoa_genome_V2_rna_from_genomic.fix.fna"
ref_transcriptomeB = "/Storage/data1/jenny.paola/Ejercicio_RNAseq/references/GCA_002911725.1_ASM291172v1_rna_from_genomic.fix.fna"

// Perfiles
profiles {
    process_medium_sge {
        process {
            executor = 'sge'
            queue = 'all.q'
            cpus = 1
            memory = '8 GB'
            time = '2h'
            clusterOptions = '-S /bin/bash'
            label = 'process_medium_sge'
            conda = false
            errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
            maxRetries = 3
            maxErrors = '-1'
            beforeScript = '''
                source /home/jenny.paola/miniconda3/etc/profile.d/conda.sh
                conda activate R2C
            '''.stripIndent()

            // Configuraciones publishDir para cada proceso según label o nombre

            withLabel: 'process_medium_sge' {
                publishDir = [ path: "$projectDir/${out_dir}/medium_resources", mode: publish_dir_mode ]
            }

            // Procesos de calidad en raw reads
            withName: 'fastqc' {
                publishDir = [ path: "$projectDir/${out_dir}/3_rawReadsFastQC", mode: publish_dir_mode ]
            }
            withName: 'multiqc' {
                publishDir = [ path: "$projectDir/${out_dir}/4_multiQC", mode: publish_dir_mode ]
            }

            // Procesos de calidad en trimmed reads
            withName: 'fastqc_trimmed' {
                publishDir = [ path: "$projectDir/${out_dir}/6_trimmedReadsFastQC", mode: publish_dir_mode ]
            }
            withName: 'multiqc_trimmed' {
                publishDir = [ path: "$projectDir/${out_dir}/7_trimmedReadsMultiQC", mode: publish_dir_mode ]
            }

            // Procesos de trimming
            withName: 'bbduk' {
                publishDir = [ path: "$projectDir/${out_dir}/5_trimmedReads", mode: publish_dir_mode ]
            }

            // Salmon index y cuantificación
            withName: 'salmonIndexA' {
                publishDir = [ path: "$projectDir/${out_dir}/salmonIndices", mode: publish_dir_mode ]
            }
            withName: 'salmonIndexB' {
                publishDir = [ path: "$projectDir/${out_dir}/salmonIndices", mode: publish_dir_mode ]
            }
            withName: 'salmonQuant' {
                publishDir = [
                    path: "$projectDir/${out_dir}/9_salmonQuant",
                    mode: publish_dir_mode,
                    saveAs: { "${task.name}/${task.process.run}/" }
                ]
            }
        }
    }
}

report {
    enabled = true
    overwrite = true
    file = "${report_dir}/execution_report.html"
}

dag {
    enabled = true
    overwrite = true
    file = "${report_dir}/execution_dag.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${report_dir}/execution_timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${report_dir}/execution_trace.txt"
}
